<%- include("partials/header") -%>

<h1>
    Compose
</h1>
<form action="/compose" method="post" autocomplete="off">

<input type="text" placeholder="Your post here">
<button type="submit" name="publish">
    Publish
</button>

</form>


<p>
    <%= post %>
</p>

<%- include("partials/footer") -%>
