<%- include("partials/header") -%>

    <h1>
        Compose
    </h1>

    <!-- <form action="/compose" method="post" >

<input type="text" placeholder="Post's title here" name="postTitle">
<input type="text" placeholder="Post's content here" name="postContent">
<button type="submit" name="button">
    Publish
</button>

</form> -->

    <form action="/compose" method="post">
        <div class="mb-3" "form-group">
            <label for="postTitle" class="form-label">Post's title here:</label>
            <input type="text" class="form-control" name="postTitle">
        </div>
        <div class="mb-3" "form-group">
            <label for="postContent" class="form-label">Post's content here:</label>
            <input type="text" class="form-control" name="postContent">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="postBody" rows="8" cols="30"></textarea>
                <label for="floatingTextarea">Comments</label>
            </div>
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>
    </form>

    <p>
        <%= post %>
    </p>

    <%- include("partials/footer") -%>