<%- include("partials/header") -%>

    <h1>
        Compose
    </h1>

    <form action="/compose" method="post" >

<input type="text" placeholder="Post's title here" name="postTitle">
<input type="text" placeholder="Post's content here" name="postContent">
<textarea name="" id="" cols="30" rows="10">           </textarea>
<button type="submit" name="button">
    Publish
</button>

</form>

    <p>
        <%= post %>
    </p>

    <%- include("partials/footer") -%>