<%- include("partials/header") -%>

<h1>
    Compose
</h1>
<form action="/compose" method="post" >

<input type="text" placeholder="Post's title here" name="postTitle">
<input type="text" placeholder="Post's content here" name="postContent">
<button type="submit" name="button">
    Publish
</button>

</form>

<form>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Post's title here" name="postTitle">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Post's content here" name="postContent">
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>

<p>
    <%= post %>
</p>

<%- include("partials/footer") -%>
