<%- include("partials/header") -%>

<h1>
    Compose
</h1>
<form action="/compose" method="post" >

<input type="text" placeholder="Your post here" name="post">
<button type="submit" name="button">
    Publish
</button>

</form>


<p>
    <%= post %>
</p>

<%- include("partials/footer") -%>
