<%- include("partials/header") -%>

    <h1>
        Home
    </h1>
    <p>
        Posts:
    </p>
    <p>
        <% for ( let i=0 ; i < posts.length ; i++ ) { %>
            <%= posts[i] %>
                <% }; %>
        <% console.log(posts); %>
    </p>

    <%- include("partials/footer") -%>