<%- include("header") -%>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officia dignissimos sed modi vitae ratione voluptatem, libero vero delectus, ea nulla nesciunt necessitatibus perferendis sapiente corporis ipsam eos accusantium commodi.
</p>
<%- include("footer") -%>