<%- include("header") -%>
<p>
    <!-- <%= homeStartingContent %>///// -->
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi voluptatem velit quaerat laborum officia saepe quas architecto quia rem enim ut similique, quae sit quis vitae sequi minima blanditiis veniam?
</p>
<%- include("footer") -%>